table, th, td {
    border: 0px solid black;
    border-collapse: collapse;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-image: url("./backgroundblue.jpg");
	background-repeat: repeat;
	color: black;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Arial, Helvetica, sans-serif;
}
p {
	padding-left:25px;
	padding-right:50px;
	line-height: 180%;
}

h1 {
	font-weight: 700;
	font-size: 36pt;
	vertical-align:bottom;
}
h2 {
	font-weight: 400;
	font-size: 18pt;
}
h3 {
	line-height: 180%;
	font-weight: 700;
	padding-left: 50px;
}

#topbannerspace {
	background-color: #b0aead;
	width: 100%;
	height:5px;
}
#banner {
	background-color: #b0aead;
	width: 100%;
	padding: 0px;
	margin: 0 auto;
	text-align: center;
}
#bannertable {
	text-align:center;
	margin: 0 auto;
	padding: 0px;
}
#bottombannerspace {
	background-color: #b0aead;
	width: 100%;
	height:5px;
}
#content {
	position: relative;
	top: 0px;
	vertical-align: top;
	margin-top: 10px;
	text-align: center;
	margin:0 auto;
	width:950px;
	background-color: #b0aead;
	z-index:0;
}
#contenttable {
	position:relative;
	width: 700px;
	background-color: #b0aead;
	margin: 0 auto;
	text-align: center;
}
#contenttitle {
	padding-top: 30px;
	padding-bottom: 10px;
	text-align:right;
	vertical-align:bottom;
	color: #000000;
}
#updateimg {
width:100px;height:100px;
	padding-left:10px;
	padding-top: 20px;
	padding-bottom: 20px;
}
#updateblurb {
	text-align:left;
	vertical-align:top;
	padding-top:10px;
	padding-left:5px;
}
#updatebox {
	background-color:rgba(24, 107, 148, .6);
}
#updatespace {
	height: 25px;
}
#footer {
	text-align: center;
	padding-top:5px;
	padding-bottom:13px;
	color: #000000;
}

.button {
	background-color: rgba(24, 107, 148, .6);
    padding: 15px 32px;
	text-align: center;
	margin: 4px 2px;
	text-decoration:none;
	color: black;
	display: inline-block;
	float:none;
}
.container {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
	margin: 0 auto;
	text-align:center;
}

.container a {
    /*float: none;*/
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: none;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.container a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: relative;
	width: 300px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	margin:0 auto;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
	z-index: 1;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}